<ActionBar title="My App" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <Label text="hello" textWrap="true"></Label>
    <Button [nsRouterLink]="['/jeopardy']" text="Jeopardy" pageTransition="slideBottom" class="btn btn-primary"></Button>
    <Slider [minValue]="0" [maxValue]="10" [value]="5" class="slider"></Slider>
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>
</StackLayout>
